button{
    margin-left: 73px;
    margin-top: 20px;
}

.content_top {
    padding: 0px 20px;
    background-color: white;
    border: 1px solid #EBE8E8;
    margin-top:22px;
    margin-left: 89px;
    margin-right: 205px;
    margin-bottom: 10px;    
}

h3 {
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pesquisa{
    margin-right: 1200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-outline-success{
    font-size: 100%;
    margin-left: 0px;
    margin-top: -5px;
}